{% load staticfiles %}
<section id="about">
    <div class="row-fluid no-gutter equal-height-columns-v3 overflow-h g-text-height-md">
        <!-- Image Block -->
        <div class="col-md-4 hidden-sm hidden-xs equal-height-column-v3"
             style="background: url({% static 'home/assets/img-temp/about/coding.jpg' %}) no-repeat 50% 0 / cover"></div>
        <!-- End Image Block -->

        <!-- About Block -->
        <div class="col-md-4 col-sm-6 col-xs-12 equal-height-column-v3--middle text-center g-bg-dark-blue1 g-heading-v7">
            <div class="valign__middle2 g-padding-30">
                <h2 class="h2 color-light">
                    <span class="block-name">About Us</span>
                    <span class="g-text-height-lg">It's All About <br> Best Service</span>
                </h2>

                <p>
                    White Canvas Software bring talents, technologies and values in one platform and transform the
                    potential of a
                    group dedicated professionals into the reality with a dream to introduce quality software solutions
                    to the world market. Our slogan is “Paint Your Ideas”. You have your ideas, we are here to make it
                    reality. Our young, energetic team is always ready to take challenge. Day by day we are blessed with
                    our customers’ satisfactions and appraisal. Anytime, anywhere from the world, we are always ready to
                    respond.
                </p>
            </div>
        </div>
        <!-- End About Block -->

        <!-- Carousel Block -->
        <div class="col-md-4 col-sm-6 col-xs-12 equal-height-column-v3 g-bg-dark-blue2">
            <div class="owl2-carousel-v1 g-pb-20">
                <div class="item active">
                    <img class="g-mb-30" src="{% static 'home/assets/img-temp/about/pencillove.jpg' %}" alt="">

                    <div class="g-pl-30 g-pr-30">
                        <h3 class="color-light">
                            <strong>SINCE 2012</strong>
                        </h3>
                        <p>
                            We are providing best services to our clients. Our clients speak for us.
                        </p>

                    </div>
                </div>
                <div class="item">
                    <img class="g-mb-40" src="{% static 'home/assets/img-temp/about/chart.jpg' %}" alt="">

                    <div class="g-pl-50 g-pr-50">
                        <h3 class="color-light">
                            <strong>What We Do:</strong>
                        </h3>
                        <ul>
                            <li>Cloud based software</li>
                            <li>Website design/development/Maintenance</li>
                            <li>E-commerce</li>
                            <li>Domain and Hosting service. From installation to maintenance</li>
                            <li>Web portal/application</li>
                        </ul>
                        <a href="#services" class="btn-u btn-brd btn-brd-hover btn-u-light">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Carousel Block -->
    </div>
</section>