{% load staticfiles %}
<section id="clients">
    <div class="container content-md g-text-height-md">
        <div class="row g-mb-60 text-center g-heading-v7">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="h2">
                    <span class="block-name">Our Clients</span>
                    <span class="g-text-height-lg">Who Work With Us</span>
                </h2>
            </div>
        </div>

        <ul class="list-unstyled owl2-carousel-v3 g-mb-60">
            <li class="item owl2-carousel-v3__item">
                <img src="assets/img-temp/clients/img1.png" alt="">
            </li>
            <li class="item owl2-carousel-v3__item">
                <img src="assets/img-temp/clients/img2.png" alt="">
            </li>
            <li class="item owl2-carousel-v3__item">
                <img src="assets/img-temp/clients/img3.png" alt="">
            </li>
            <li class="item owl2-carousel-v3__item">
                <img src="assets/img-temp/clients/img4.png" alt="">
            </li>
            <li class="item owl2-carousel-v3__item">
                <img src="assets/img-temp/clients/img5.png" alt="">
            </li>
            <li class="item owl2-carousel-v3__item">
                <img src="assets/img-temp/clients/img6.png" alt="">
            </li>
            <li class="item owl2-carousel-v3__item">
                <img src="assets/img-temp/clients/img7.png" alt="">
            </li>
            <li class="item owl2-carousel-v3__item">
                <img src="assets/img-temp/clients/img8.png" alt="">
            </li>
        </ul>

        <div class="row text-center page-scroll">
            <div class="col-sm-8 col-sm-offset-2">
                <p>Sed eget aliquet nisl. Proin laoreet accumsan nisl non vestibulum. Donec molestie, lorem nec
                    sollicitudin elementum <br>
                    tristique senectus et netus et malesuada fames ac turpis egestas.</p><br>
                <a href="#projects" class="btn-u btn-u--dark-blue">PROJECTS</a>
            </div>
        </div>

    </div>
</section>