{% load staticfiles %}
<section id="contact" class="g-bg-dark-blue1">
    <div class="container content-md g-text-height-md">
        <div class="row g-mb-60 text-center g-heading-v7">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="h2">
                    <span class="block-name">Contact</span>
                    <span class="g-text-height-lg">Our Contacts</span>
                </h2>
            </div>
        </div>

        <!-- Contact Details -->
        <ul class="list-unstyled row text-center">
            <li class="col-md-3 contact-blocks-v1">
                <i class="contact-blocks-v1__icon g-display-block g-color-primary icon-globe"></i>
                <h4>Address</h4>
                <span class="g-display-block g-color-white">25, Central Road, Dhanmondi, Dhaka, Bangladesh</span>
            </li>
            <li class="col-md-3 contact-blocks-v1">
                <i class="contact-blocks-v1__icon g-display-block g-color-primary icon-call-in"></i>
                <h4>Phone Number</h4>
                <span class="g-display-block g-color-white">+19797397466</span>
            </li>
            <li class="col-md-3 contact-blocks-v1">
                <i class="contact-blocks-v1__icon g-display-block g-color-primary icon-envelope"></i>
                <h4>Email</h4>
                <span class="g-display-block g-color-white">support@whitecanvassoft.com</span>
            </li>
            <li class="col-md-3 contact-blocks-v1">
                <i class="contact-blocks-v1__icon g-display-block g-color-primary icon-earphones-alt"></i>
                <h4>GTalk</h4>
                <span class="g-display-block g-color-white">whitecanvassoft@gmail.com</span>
            </li>
        </ul>
        <!-- Contact Details -->
    </div>

    <!-- Socials -->
    <ul class="list-unstyled btn-group btn-group-justified g-no-mb">
        <li class="btn-group social-block-v1__list">
            <a href="#" class="btn social-block-v1__list-btn">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li class="btn-group social-block-v1__list">
            <a href="#" class="btn social-block-v1__list-btn">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li class="btn-group social-block-v1__list">
            <a href="#" class="btn social-block-v1__list-btn">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="btn-group social-block-v1__list">
            <a href="#" class="btn social-block-v1__list-btn">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
        <li class="btn-group social-block-v1__list">
            <a href="#" class="btn social-block-v1__list-btn">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
    </ul>
    <!-- End Socials -->



    <!-- Copyright and Subscribe -->
    <div class="bg-color-white">
        <div class="container text-center g-pt-30 g-pb-30">

            <p class="g-color-gray-dark g-no-mb g-text-size-12">&copy; 2016 All rights reserved.<a
                    href="#" class="g-color-primary">White Canvas Software</a></p>
        </div>
    </div>
    <!-- End Copyright and Subscribe -->
</section>