{% load staticfiles %}
<section id="contact" class="g-bg-dark-blue1">
    <div class="container content-md g-text-height-md">
        <div class="row g-mb-60 text-center g-heading-v7">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="h2">
                    <span class="block-name">Contact</span>
                    <span class="g-text-height-lg">Our Contacts</span>
                </h2>

                <p>Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a
                    fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra
                    eros, fringilla porttitor lorem eros vel odio.</p>
            </div>
        </div>

        <!-- Contact Details -->
        <ul class="list-unstyled row text-center">
            <li class="col-md-3 contact-blocks-v1">
                <i class="contact-blocks-v1__icon g-display-block g-color-primary icon-globe"></i>
                <h4>Address</h4>
                <span class="g-display-block g-color-white">61 Oxford str., London, 3DG</span>
            </li>
            <li class="col-md-3 contact-blocks-v1">
                <i class="contact-blocks-v1__icon g-display-block g-color-primary icon-call-in"></i>
                <h4>Phone Number</h4>
                <span class="g-display-block g-color-white">1-800-643-4500</span>
            </li>
            <li class="col-md-3 contact-blocks-v1">
                <i class="contact-blocks-v1__icon g-display-block g-color-primary icon-envelope"></i>
                <h4>Email</h4>
                <span class="g-display-block g-color-white">mail@htmlstream.com</span>
            </li>
            <li class="col-md-3 contact-blocks-v1">
                <i class="contact-blocks-v1__icon g-display-block g-color-primary icon-earphones-alt"></i>
                <h4>Toll Free</h4>
                <span class="g-display-block g-color-white">@unify</span>
            </li>
        </ul>
        <!-- Contact Details -->
    </div>

    <!-- Socials -->
    <ul class="list-unstyled btn-group btn-group-justified g-no-mb">
        <li class="btn-group social-block-v1__list">
            <a href="#" class="btn social-block-v1__list-btn">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li class="btn-group social-block-v1__list">
            <a href="#" class="btn social-block-v1__list-btn">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li class="btn-group social-block-v1__list">
            <a href="#" class="btn social-block-v1__list-btn">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="btn-group social-block-v1__list">
            <a href="#" class="btn social-block-v1__list-btn">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
        <li class="btn-group social-block-v1__list">
            <a href="#" class="btn social-block-v1__list-btn">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
    </ul>
    <!-- End Socials -->

    <!-- Google Maps -->
    <div class="height-500" id="map"></div>
    <!-- End Google Maps -->

    <!-- Copyright and Subscribe -->
    <div class="bg-color-white">
        <div class="container text-center g-pt-30 g-pb-30">
            <h2 class="g-text-size-17 g-mb-10">SUBSRIBE ON OUR OFFERS</h2>

            <form class="g-mb-20" action="#">
                <div class="form-group row">
                    <div class="input-group col-xs-6 col-xs-offset-3 subscribe-block-v1">
                        <input type="text" class="form-control subscribe-block-v1__form" id="exampleInputAmount"
                               placeholder="Enter Your Email">

                        <div class="input-group-addon subscribe-block-v1__addon">
                            <i class="icon-envelope"></i>
                        </div>
                    </div>
                </div>
            </form>
            <p class="g-color-gray-dark g-no-mb g-text-size-12">&copy; 2016 All right reserved. Unify developed by <a
                    href="#" class="g-color-primary">Htmlstream</a></p>
        </div>
    </div>
    <!-- End Copyright and Subscribe -->
</section>