{% load staticfiles %}
<section id="how-we-work">
    <div class="container-fluid g-bg-dark-blue1">
        <div class="row equal-height-columns-v2">
            <!-- Image Block -->
            <div class="col-md-5 content-md g-no-left-padding equal-height-column-v2"
                 data-image-src="{% static 'home/assets/img-temp/img2.jpg' %}"></div>
            <!-- End Image Block -->

            <!-- Steps v2 -->
            <div class="col-md-7 content-md equal-height-column-v2 g-pl-40 g-pr-40">
                <div class="g-heading-v7 g-mb-60">
                    <h2 class="h2 color-light">
                        <span class="block-name">How We Work</span>
                        <span class="g-text-height-lg">Do All The Best</span>
                    </h2>

                    <p>Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a
                        fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci
                        viverra eros, fringilla porttitor lorem eros vel odio.</p>
                </div>

                <ul class="row list-unstyled steps-v2">
                    <li class="col-md-6 g-mb-20">
                        <div class="steps-v2__block g-bg-dark-blue2">
                            <h3 class="h5 color-light">AGENCY SEARCH</h3>

                            <p>Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus. Vestibulum ipsum vestibulum
                                velit.</p>
                        </div>
                    </li>
                    <li class="col-md-6 g-mb-20">
                        <div class="steps-v2__block g-bg-dark-blue2">
                            <h3 class="h5 color-light">MANAGEMENT &amp; MARKETING</h3>

                            <p>Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus. Vestibulum ipsum vestibulum
                                velit.</p>
                        </div>
                    </li>
                    <li class="col-md-6 g-mb-20">
                        <div class="steps-v2__block g-bg-dark-blue2">
                            <h3 class="h5 color-light">COACHING &amp; STRATEGY PLANNING</h3>

                            <p>Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus. Vestibulum ipsum vestibulum
                                velit.</p>
                        </div>
                    </li>
                    <li class="col-md-6 g-mb-20">
                        <div class="steps-v2__block g-bg-dark-blue2">
                            <h3 class="h5 color-light">CONSULTATION SERVICES</h3>

                            <p>Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus. Vestibulum ipsum vestibulum
                                velit.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- End Steps v2 -->
        </div>
    </div>
</section>