{% load staticfiles %}
<section id="news" class="g-bg-dark-blue1">
    <div class="container g-pt-80">
        <div class="row g-mb-60 text-center g-heading-v7">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="h2">
                    <span class="block-name">From Our Blog</span>
                    <span class="g-text-height-lg">Latest News</span>
                </h2>

                <p>Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a
                    fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra
                    eros, fringilla porttitor lorem eros vel odio.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid g-text-height-md g-no-side-padding">
        <ul class="list-unstyled owl2-carousel-v4 g-no-mb">
            <li class="item">
                <div class="owl2-carousel-v2__item">
                    <img class="img-responsive owl2-carousel-v2__item-img" src="assets/img-temp/news/img1.jpg" alt="">

                    <div class="owl2-carousel-v2__item-info owl2-carousel-v2__item-info--news">
			  			<span class="owl2-carousel-v2__item-info__item">
					  		<em>May 20, 2016</em>
					  		<span>MASTER CLASS OF THE WEEK</span>
					  		<em>By Kate Lee for Business</em>
			  			</span>
                    </div>
                </div>
                <div class="owl2-carousel-v2__item">
                    <img class="img-responsive owl2-carousel-v2__item-img" src="assets/img-temp/news/img2.jpg" alt="">

                    <div class="owl2-carousel-v2__item-info owl2-carousel-v2__item-info--news">
			  			<span class="owl2-carousel-v2__item-info__item">
					  		<em>May 20, 2016</em>
					  		<span>MASTER CLASS OF THE WEEK</span>
					  		<em>By Kate Lee for Business</em>
			  			</span>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="owl2-carousel-v2__item">
                    <img class="img-responsive owl2-carousel-v2__item-img" src="assets/img-temp/news/img4.jpg" alt="">

                    <div class="owl2-carousel-v2__item-info owl2-carousel-v2__item-info--news">
			  			<span class="owl2-carousel-v2__item-info__item">
					  		<em>May 20, 2016</em>
					  		<span>MASTER CLASS OF THE WEEK</span>
					  		<em>By Kate Lee for Business</em>
			  			</span>
                    </div>
                </div>
                <div class="owl2-carousel-v2__item">
                    <img class="img-responsive owl2-carousel-v2__item-img" src="assets/img-temp/news/img3.jpg" alt="">

                    <div class="owl2-carousel-v2__item-info owl2-carousel-v2__item-info--news">
			  			<span class="owl2-carousel-v2__item-info__item">
					  		<em>May 20, 2016</em>
					  		<span>MASTER CLASS OF THE WEEK</span>
					  		<em>By Kate Lee for Business</em>
			  			</span>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="owl2-carousel-v2__item">
                    <img class="img-responsive owl2-carousel-v2__item-img" src="assets/img-temp/news/img6.jpg" alt="">

                    <div class="owl2-carousel-v2__item-info owl2-carousel-v2__item-info--news">
			  			<span class="owl2-carousel-v2__item-info__item">
					  		<em>May 20, 2016</em>
					  		<span>MASTER CLASS OF THE WEEK</span>
					  		<em>By Kate Lee for Business</em>
			  			</span>
                    </div>
                </div>
                <div class="owl2-carousel-v2__item">
                    <img class="img-responsive owl2-carousel-v2__item-img" src="assets/img-temp/news/img5.jpg" alt="">

                    <div class="owl2-carousel-v2__item-info owl2-carousel-v2__item-info--news">
			  			<span class="owl2-carousel-v2__item-info__item">
					  		<em>May 20, 2016</em>
					  		<span>MASTER CLASS OF THE WEEK</span>
					  		<em>By Kate Lee for Business</em>
			  			</span>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="owl2-carousel-v2__item">
                    <img class="img-responsive owl2-carousel-v2__item-img" src="assets/img-temp/news/img7.jpg" alt="">

                    <div class="owl2-carousel-v2__item-info owl2-carousel-v2__item-info--news">
			  			<span class="owl2-carousel-v2__item-info__item">
					  		<em>May 20, 2016</em>
					  		<span>MASTER CLASS OF THE WEEK</span>
					  		<em>By Kate Lee for Business</em>
			  			</span>
                    </div>
                </div>
                <div class="owl2-carousel-v2__item">
                    <img class="img-responsive owl2-carousel-v2__item-img" src="assets/img-temp/news/img4.jpg" alt="">

                    <div class="owl2-carousel-v2__item-info owl2-carousel-v2__item-info--news">
			  			<span class="owl2-carousel-v2__item-info__item">
					  		<em>May 20, 2016</em>
					  		<span>MASTER CLASS OF THE WEEK</span>
					  		<em>By Kate Lee for Business</em>
			  			</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>