{% load staticfiles %}
<section id="offers">
    <div class="container content-md g-text-height-md">
        <div class="row g-mb-60 text-center g-heading-v7">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="h2">
                    <span class="block-name">Our Offers</span>
                    <span class="g-text-height-lg">Best Offers For You</span>
                </h2>

                <p>Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a
                    fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra
                    eros, fringilla porttitor lorem eros vel odio.</p>
            </div>
        </div>

        <div class="row no-gutter text-center">
            <div class="col-md-4">
                <div class="pricing-v10">
                    <ul class="list-unstyled pricing-v10__block g-bg-gray">
                        <li class="pricing-v10__block-list">
                            <h3 class="h4">STARTER</h3>
                            <span class="text-muted">ed feugiat porttitor nunc, non</span>
                        </li>
                        <li class="pricing-v10__block-list g-pt-20 g-pb-20">
                            <strong class="pricing-v10__price g-color-primary g-display-block">$25.00</strong>
                            <span class="g-color-primary">per month</span>
                        </li>
                        <li class="pricing-v10__block-list text-muted">Vivamus a fringilla lorem, vel faucibus ante.
                            Nunc ullamcorper justo..
                        </li>
                        <li class="pricing-v10__block-list text-muted">
                            <strong>10%</strong>
                            In hac habitasse platea
                        </li>
                        <li class="pricing-v10__block-list text-muted">
                            <strong>10gb</strong>
                            Praesent egestas ac arcu
                        </li>
                        <li class="pricing-v10__block-list text-muted">
                            <strong>25</strong>
                            emails Sed eget aliquet nisl
                        </li>
                        <li class="pricing-v10__block-list text-muted">
                            <strong>No</strong>
                            Proin laoreet accumsan nisl non
                        </li>
                        <li class="pricing-v10__block-list"><a class="btn-u btn-u--dark-blue">ORDER NOW</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="pricing-v10 pricing-v10--lg">
                    <ul class="list-unstyled pricing-v10__block pricing-v10__block--lg g-bg-gray">
                        <li class="pricing-v10__block-list">
                            <h3 class="h4">ADVANCED</h3>
                            <span class="text-muted">ed feugiat porttitor nunc, non</span>
                        </li>
                        <li class="pricing-v10__block-list g-pt-20 g-pb-20">
                            <strong class="pricing-v10__price g-color-primary g-display-block">$50.00</strong>
                            <span class="g-color-primary">per month</span>
                        </li>
                        <li class="pricing-v10__block-list text-muted">Sed feugiat porttitor nunc, non dignissim ipsum
                            vestibulum in...
                        </li>
                        <li class="pricing-v10__block-list text-muted">
                            <strong>20%</strong>
                            In hac habitasse platea
                        </li>
                        <li class="pricing-v10__block-list text-muted">
                            <strong>20gb</strong>
                            Praesent egestas ac arcu
                        </li>
                        <li class="pricing-v10__block-list text-muted">
                            <strong>50</strong>
                            emails Sed eget aliquet nisl
                        </li>
                        <li class="pricing-v10__block-list text-muted">
                            <strong>YES</strong>
                            Proin laoreet accumsan nisl non
                        </li>
                        <li class="pricing-v10__block-list"><a class="btn-u btn-u--dark-blue">ORDER NOW</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="pricing-v10">
                    <ul class="list-unstyled pricing-v10__block g-bg-gray">
                        <li class="pricing-v10__block-list">
                            <h3 class="h4">PROFESSIONAL</h3>
                            <span class="text-muted">ed feugiat porttitor nunc, non</span>
                        </li>
                        <li class="pricing-v10__block-list g-pt-20 g-pb-20">
                            <strong class="pricing-v10__price g-color-primary g-display-block">$75.00</strong>
                            <span class="g-color-primary">per month</span>
                        </li>
                        <li class="pricing-v10__block-list text-muted">Enim orci viverra eros, fringilla porttitor lorem
                            eros vel odio in.
                        </li>
                        <li class="pricing-v10__block-list text-muted">
                            <strong>30%</strong>
                            In hac habitasse platea
                        </li>
                        <li class="pricing-v10__block-list text-muted">
                            <strong>40gb</strong>
                            Praesent egestas ac arcu
                        </li>
                        <li class="pricing-v10__block-list text-muted">
                            <strong>100</strong>
                            emails Sed eget aliquet nisl
                        </li>
                        <li class="pricing-v10__block-list text-muted">
                            <strong>YES</strong>
                            Proin laoreet accumsan nisl non
                        </li>
                        <li class="pricing-v10__block-list"><a class="btn-u btn-u--dark-blue">ORDER NOW</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>