{% load staticfiles %}
<section id="projects">
    <div class="container content-md g-text-height-md">
        <div class="row">
            <!-- Project Info -->
            <div class="col-md-4">
                <div class="g-heading-v7 g-mb-60 g-pt-35">
                    <h2 class="h2">
                        <span class="block-name">Our Projects</span>
                        <span class="g-text-height-lg">We Are The <br> Best</span>
                    </h2>

                    <p>Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a
                        fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci
                        viverra eros, fringilla porttitor lorem eros vel odio.</p>

                    <p>In rutrum tellus vitae blandit lacinia. Phasellus eget sapien odio. Phasellus eget sapien odio.
                        Vivamus at risus quis leo tincidunt scelerisque non et erat.</p>
                </div>
            </div>
            <!-- End Project Info -->

            <!-- Carousel Block -->
            <div class="col-md-8">
                <ul class="list-unstyled owl2-carousel-v2 g-pt-50">
                    <li class="item">
                        <div class="owl2-carousel-v2__item g-mb-10">
                            <img class="img-responsive owl2-carousel-v2__item-img"
                                 src="{% static 'home/assets/img-temp/projects/img1.jpg' %}" alt="">

                            <div class="owl2-carousel-v2__item-info">
                                <span>THE MOON LTD</span>

                                <p>Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus. Vestibulum fringilla
                                    velit.</p>
                            </div>
                        </div>
                        <div class="owl2-carousel-v2__item">
                            <img class="img-responsive owl2-carousel-v2__item-img"
                                 src="{% static 'home/assets/img-temp/projects/img2.jpg' %}" alt="">

                            <div class="owl2-carousel-v2__item-info">
                                <span>SUPPORT &amp; DEVELOPMENT</span>

                                <p>Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in nulla non arcu at
                                    lectus.</p>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="owl2-carousel-v2__item g-mb-10">
                            <img class="img-responsive owl2-carousel-v2__item-img"
                                 src="{% static 'home/assets/img-temp/projects/img3.jpg' %}" alt="">

                            <div class="owl2-carousel-v2__item-info">
                                <span>BOSTON GLOBAL</span>

                                <p>In rutrum tellus vitae blandit lacinia. Phasellus eget sapien odio. Phasellus eget
                                    sapien odio.</p>
                            </div>
                        </div>
                        <div class="owl2-carousel-v2__item">
                            <img class="img-responsive owl2-carousel-v2__item-img"
                                 src="{% static 'home/assets/img-temp/projects/img4.jpg' %}" alt="">

                            <div class="owl2-carousel-v2__item-info">
                                <span>MARKETING GROUP</span>

                                <p>Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla
                                    porttitor.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- End Carousel Block -->
        </div>
    </div>
</section>