{% load staticfiles %}
<section id="projects">
    <div class="container content-md g-text-height-md">
        <div class="row">
            <!-- Project Info -->
            <div class="col-md-4">
                <div class="g-heading-v7 g-mb-60 g-pt-35">
                    <h2 class="h2">
                        <span class="block-name">Our Projects</span>
                        <span class="g-text-height-lg">We Are The <br> Best</span>
                    </h2>

                    <p>Check out few of our projects</p>

                </div>
            </div>
            <!-- End Project Info -->

            <!-- Carousel Block -->
            <div class="col-md-8">
                <ul class="list-unstyled owl2-carousel-v2 g-pt-50">
                    <li class="item">
                        <div class="owl2-carousel-v2__item g-mb-10">
                            <img class="img-responsive owl2-carousel-v2__item-img"
                                 src="{% static 'home/assets/img/projects/review_bangla_homepage.png' %}" alt="">

                            <div class="owl2-carousel-v2__item-info">
                                <a href="https://reviewbangla.com/"><h4 class="g-color-white">
                                    Review Bangla/</h4></a>

                                <p>Review and Rating Site</p>

                                <p> Technology: Python, Django, ElasticSearch, Redis</p>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="owl2-carousel-v2__item g-mb-10">
                            <img class="img-responsive owl2-carousel-v2__item-img"
                                 src="{% static 'home/assets/img/projects/hsp.png' %}" alt="">

                            <div class="owl2-carousel-v2__item-info">
                                <a href="https://higherstudyprep.com/"><h4 class="g-color-white">
                                    Higher Study Prep</h4></a>

                                <p>Online study platform</p>

                                <p> Technology: Python, Django</p>
                            </div>
                        </div>
                        <div class="owl2-carousel-v2__item">
                            <img class="img-responsive owl2-carousel-v2__item-img"
                                 src="{% static 'home/assets/img/projects/kidsmiley_wcs.PNG' %}" alt="">

                            <div class="owl2-carousel-v2__item-info">
                                <a href="http://www.kidsmiley.com/"><h4 class="g-color-white">
                                    http://www.kidsmiley.com/</h4></a>

                                <p>Website for non profit organization</p>

                                <p>Technology Used: Python,Django</p>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="owl2-carousel-v2__item g-mb-10">
                            <img class="img-responsive owl2-carousel-v2__item-img"
                                 src="{% static 'home/assets/img/projects/parmeeda_mobileview440x444.jpg' %}" alt="">

                            <div class="owl2-carousel-v2__item-info">
                                <a href="http://parmeeda.com/"><h4 class="g-color-white">Parmeeda.com</h4></a>

                                <p>E-Commerce solution</p>

                                <p> Technology: Wordpress, woocommerce.</p>
                            </div>
                        </div>
                        <div class="owl2-carousel-v2__item">
                            <img class="img-responsive owl2-carousel-v2__item-img"
                                 src="{% static 'home/assets/img/projects/rnaseqmetadb.JPG' %}" alt="">

                            <div class="owl2-carousel-v2__item-info">
                                <a href="http://rnaseqmetadb.ece.tamu.edu/"><h4 class="g-color-white">
                                    http://rnaseqmetadb.ece.tamu.edu/</h4></a>

                                <p>Gene sequence searching website for bioinformatics lab.</p>

                                <p>Technology Used: Python,Flask,Bootstrap</p>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="owl2-carousel-v2__item g-mb-10">
                            <img class="img-responsive owl2-carousel-v2__item-img"
                                 src="{% static 'home/assets/img/projects/dynamic.jpg' %}" alt="">

                            <div class="owl2-carousel-v2__item-info">
                                <a href="http://www.dynamicsolutionsbd.com/">
                                    <h4 class="g-color-white">Dynamic Solution Ltd</h4>
                                </a>

                                <p>Website for Dynamic Solution Ltd</p>

                                <p>Technolgy used: Wordpress </p>
                            </div>
                        </div>
                        <div class="owl2-carousel-v2__item">
                            <img class="img-responsive owl2-carousel-v2__item-img"
                                 src="{% static 'home/assets/img/projects/pmt.PNG' %}" alt="">

                            <div class="owl2-carousel-v2__item-info">
                                <span>Performance Management Tool(PMT)</span>

                                <p>Web based monitoring system for telecommunication industry</p>

                                <p>Technology Used: ASP.Net, SQLServer2008</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- End Carousel Block -->
        </div>
    </div>
</section>