{% load staticfiles %}
<section class="g-bg-dark-blue1">
    <div class="fullscreen-static-image promo-block--cover fullheight">
      <div class="container valign__middle">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <div class="promo-block__item page-scroll animated fadeIn">
              <span class="g-display-block g-mb-10">WE ARE UNIFY</span>
              <h2 class="promo-block__item-text g-mb-20">Business &amp; Corporation</h2>
              <p class="promo-block__item-text1 g-mb-20">Sed feugiat porttitor nunc, non dignissim <br> ipsum vestibulum in. Donec in blandit dolor.</p>
              <a href="#about" class="btn-u btn-brd btn-brd-hover btn-u-light">LEARN MORE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>