{% load staticfiles %}
<section id="services">
    <div class="container content-md g-text-height-md">

        <div class="row g-mb-60 text-center g-heading-v7">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="h2">
                    <span class="block-name">Our Services</span>
                    <span class="g-text-height-lg">What We Do</span>
                </h2>
            </div>
        </div>

        <div class="row service-box-v1 service-box-v1--business equal-height-columns no-gutter">
            <div class="col-md-3 col-sm-6">
                <div class="service-block service-block-default equal-height-column no-margin-bottom">
                    <i class="icon icon-fire"></i>

                    <h2 class="heading-sm h3">ANALISYS</h2>

                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                    <ul class="list-unstyled">
                        <li>Responsive Web Desgin</li>
                        <li>E-commerce</li>
                        <li>App &amp; Icon Design</li>
                        <li>Logo &amp; Brand Design</li>
                        <li>Mobile Development</li>
                        <li>UI/UX Design</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-block service-block-default equal-height-column no-margin-bottom">
                    <i class="icon icon-energy"></i>

                    <h2 class="heading-sm h3">STRATEGY</h2>

                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit
                        nondapibus</p>
                    <ul class="list-unstyled">
                        <li>Analysis &amp; Consulting</li>
                        <li>Email Marketing</li>
                        <li>App &amp; Icon Design</li>
                        <li>Responsive Web Desgin</li>
                        <li>Social Networking</li>
                        <li>Documentation</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-block service-block-default equal-height-column no-margin-bottom">
                    <i class="icon icon-layers"></i>

                    <h2 class="heading-sm h3">SOCIAL MEDIA</h2>

                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                    <ul class="list-unstyled">
                        <li>Display Advertising</li>
                        <li>App &amp; Icon Design</li>
                        <li>Analysis &amp; Consulting</li>
                        <li>Google AdSense</li>
                        <li>Social Media</li>
                        <li>Google/Bing Analysis</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-block service-block-default equal-height-column no-margin-bottom">
                    <i class="icon icon-social-youtube"></i>

                    <h2 class="heading-sm h3">MARKETING</h2>

                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                    <ul class="list-unstyled">
                        <li>Google AdSense</li>
                        <li>Social Media</li>
                        <li>Google/Bing Analysis</li>
                        <li>Google AdSense</li>
                        <li>Social Media</li>
                        <li>Analysis &amp; Consulting</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>