{% load staticfiles %}
<section id="services">
    <div class="container content-md g-text-height-md">

        <div class="row g-mb-60 text-center g-heading-v7">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="h2">
                    <span class="block-name">Our Services</span>
                    <span class="g-text-height-lg">What We Do</span>
                </h2>
            </div>
        </div>

        <div class="row service-box-v1 service-box-v1--business equal-height-columns no-gutter">
            <div class="col-md-3 col-sm-6">
                <div class="service-block service-block-default equal-height-column no-margin-bottom">
                    <i class="icon icon-fire"></i>

                    <h2 class="heading-sm h3">WEB BASED APPLICATION</h2>

                    <p>We develop state of the art web based application</p>
                    <ul class="list-unstyled">
                        <li>fully cloud based</li>
                        <li>Cutting edge latest technology</li>
                        <li>Efficient algorithm no matter how complex it is</li>
                        <li>Fast and secure. You can trust us!</li>
                        <li>Beautiful charts</li>
                        <li>Awesome UI/UX</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-block service-block-default equal-height-column no-margin-bottom">
                    <i class="icon icon-energy"></i>

                    <h2 class="heading-sm h3">WEBSITE DEVELOPMENT</h2>

                    <P>Make strong presence of your company in web. We are here to help you to make a stunning
                    website for you and your company</P>
                    <ul class="list-unstyled">
                        <li>From design to maintenance</li>
                        <li>Super awesome design</li>
                        <li>Latest technology</li>
                        <li>Responsive Web Design</li>
                        <li>Fast and secure</li>
                        <li>Delivery on time</li>
                        <li>E-Commerce</li>
                        <li>Optimized for search engine</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-block service-block-default equal-height-column no-margin-bottom">
                    <i class="icon icon-layers"></i>

                    <h2 class="heading-sm h3">SERVER SERVICE</h2>

                    <p>Struggling to configure your server? Need regular maintenance?
                        We provide all in one server solution</p>
                    <ul class="list-unstyled">
                        <li>We are best in handling Linux server</li>
                        <li>Handle all the complexities</li>
                        <li>From buying to configuring and maintenance</li>
                        <li>Virtual Private Server to Dedicated Server. We cover all</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-block service-block-default equal-height-column no-margin-bottom">
                    <i class="icon icon-social-youtube"></i>

                    <h2 class="heading-sm h3">DOMAIN AND HOSTING</h2>

                    <p>Ask us to find best domain and hosting for you!</p>
                    <ul class="list-unstyled">
                        <li>We will find the best to suit your requirement</li>
                        <li>We will buy and cofigure with minimal service charge</li>
                        <li>Mail account configuration</li>
                        <li>Analysis and optimization</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>