{% load staticfiles %}
<section id="whyus" class="g-bg-dark-blue1">
    <div class="container content-md g-text-height-md">

        <div class="row g-mb-60 text-center g-heading-v7">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="h2 color-light">
                    <span class="block-name">White Canvas Software</span>
                    <span class="g-text-height-lg">Why Us?</span>
                </h2>

                <p>
                    There are few things that you need to consider very carefully while it comes to develop new software
                    for you or your company. WCS provides few unique features that you really need to care about
                </p>
            </div>
        </div>

        <div class="row g-mb-20">
            <div class="col-md-6 g-mb-20 steps-v1--lspace">
                <ul class="list-unstyled steps-v1 g-bg-dark-blue2 g-no-mb">
                    <li>
                        <h3 class="heading-sm h3">
                            TEST DRIVEN DEVELOPMENT(TDD)
                        </h3>
                    </li>
                    <li><p>
                        Test Driven Development (TDD) is at core of our development process. Every piece of code that we
                        write is well tested. It ensures best quality of code, finds not only obvious bug but hidden
                        bugs as well. It gives the confidence of having best quality software.
                    </p></li>
                    <li class="steps-v1__block g-rounded-50x">
                        <i class="steps-v1__icon icon-fire"></i>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 steps-v1--rspace">
                <ul class="list-unstyled steps-v1 g-bg-dark-blue2 g-no-mb">
                    <li>
                        <h3 class="heading-sm h3">
                            OUR TEAM IS OUR STRENGTH
                        </h3>
                    </li>
                    <li><p>
                        We are a team of dedicated people who are top skilled at their job, received highest level of
                        education from top university of the world. We have our experience in working world famous
                        organization to support our innovation. We know what to do and how to do it best.
                    </p></li>
                    <li class="steps-v1__block g-rounded-50x">
                        <i class="steps-v1__icon icon-energy"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row g-mb-50">
            <div class="col-md-6 g-mb-20 steps-v1--lspace">
                <ul class="list-unstyled steps-v1 g-bg-dark-blue2 g-no-mb">
                    <li>
                        <h3 class="heading-sm h3">
                            MODULAR IN APPROACH
                        </h3>
                    </li>
                    <li><p>
                        We are modular in approach. We follow the best practices of coding. Our code is well structured,
                        well organized and highly commented. It is easier to understand and improve in future.
                    </p></li>
                    <li class="steps-v1__block g-rounded-50x">
                        <i class="steps-v1__icon icon-rocket"></i>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 steps-v1--rspace">
                <ul class="list-unstyled steps-v1 g-bg-dark-blue2 g-no-mb">
                    <li>
                        <h3 class="heading-sm h3">
                            DELIVERY ON TIME
                        </h3>
                    </li>
                    <li><p>
                        We know the value of the time of our customers. We are committed to deliver on time.
                    </p></li>
                    <li class="steps-v1__block g-rounded-50x">
                        <i class="steps-v1__icon icon-layers"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row text-center page-scroll">
            <div class="col-sm-8 col-sm-offset-2">
                <a href="#projects" class="btn-u btn-u--dark-blue">LEARN MORE</a>
            </div>
        </div>
    </div>
</section>
